*{
  font-family: 'Poppins', sans-serif;
  color: #2e2c2d;
  margin: 0;
  
}
header{
  display: grid;
  grid-template-columns: 300px 1fr;
}
.container{
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  background: rgb(255, 255, 255);
  margin: 0 auto;
}
.portrait{
  background: url(img/portrait3.jpeg);
  background-size:100%;
  width: 300px;
  padding: 0px;
  margin: 0px;
}
.name{
  display: block;
  padding: 80px 0 10px 25px;
}
h1{
  display: block;
  width: fit-content;
  margin: 0px;
  font-weight: 400;
  font-size: 70px;
  line-height: 1.1em;
}
h2{
  margin: 0 auto;
  margin-bottom: 5px;
  
}
.badge{
  color: #f9e826;
  background: rgb(78, 51, 51);
  width: fit-content;
  align-content: center;
  margin: 10px 0;
  padding: 5px 15px;
  border-radius: 7px;
  font-size: 24px;
  font-weight: 500;
}

.contacts{
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.contacts ul{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 470px;
}
.contacts li{
  width: 235px;
  
}

ul{
  margin: 0;
  padding: 0;
}
li{
  font-size: 14px;
  display: flex;
  list-style-type: none;
  align-items: center;
  margin: 5px 0;
}
.location::before{
  background-image: url(img/location.svg);
  background-repeat: no-repeat;
  content: "";
  height: 16px;
  width: 16px;
  margin-right: 5px;
}
.mail::before{
  background-image: url(img/mail.svg);
  content: "";
  height: 16px;
  width: 16px;
  margin-right: 5px;
}
.telegram::before{
  background-image: url(img/telegram-logo.svg);
  background-size: contain;
  content: "";
  height: 16px;
  width: 16px;
  margin-right: 5px;
}
.discord::before{
  background-image: url(img/discord.svg) ;
  content: "";
  height: 13px;
  width: 16px;
  margin-right: 5px;
}
a{
  text-decoration: none;
  color: #2e2c2d;
}
main{
  display: grid;
  grid-template-columns: 300px 500px;
}
.main-left{
  width: 300px;
  background:#f9e826;
}
.block{
  margin: 10px 30px;
  font-size: 14px;
}
.double-slash{
  background-image: url(img/double-slash.svg);
  height: 13px;
  width: 13px;
  margin-right: 7px;
}
.skills-part{
  display: flex;
  align-items: center;
}

.cv-link{
  color: blue;
}
.main-right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.experience h3{
  margin-bottom: 10px;
  
}
.experience p{
  margin-top: 15px;
}
.experience span{
  background-color: #2e2c2d;
  color: #f9e826;
  padding: 5px 15px;
  border-radius: 7px;
  margin: 15px 0;
}
footer{
  box-sizing: border-box;
  padding: 0 20px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rs{
  background-image: url(img/rs_school_js.svg);
  background-repeat: no-repeat;
  height: 30px;
  width: 83px;
}